<!-- views/searchForm.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
  <h1><%= title %></h1>
  <%- include("partials/errors.ejs") %>
  <form action="/search" method="GET">
    
    <label for="email">Email: </label>
    <input type="text" name="email" id="email" required>

    <button type="submit">Search</button>
  </form>
  <a href="/">Back to home</a>
</body>
</html>
