<!-- views/searchError.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <h2>The user you have searched for does not exist!</h2>
        <a href="/">Back to home</a>
    </body>
</html>